
html {
    box-sizing: border-box;
}

*, *:before,*:after {
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

:root {
    --cyan-process: #5bc0ebff;
    --minion-yellow: #fde74cff;
    --android-green: #9bc53dff;
    --orange-soda: #e55934ff;
    --pumpkin: #fa7921ff;
}

body {
     background: rgb(138, 138, 138);
    
}

 .kontainer {
     font-family: 'PT Sans', sans-serif;
     width: 900px;
     margin: 0 auto;
     padding: 50px;
     background: rgb(228, 227, 227);
    
}

 .kontainer h1 {
     font: 80px 'Modak', cursive;
    text-align: center;
    color: var(--orange-soda);   
}

 .kontainer .meny {
    display: flex; 
    justify-content: space-between;
    text-align: center;
     margin: 10px 0 30px 0
 }
 .kontainer .meny li {
    list-style-type: none;
 }
 .kontainer .meny a {
    background: var(--cyan-process);
    padding: 7px;
    margin: 0 3px;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 3px 3px o #FFF;
    display: inline-block;
 }
 .kontainer .meny a:hover {
    background: var(--android-green);
 }
 .kontainer .meny .aktiv {
    background: var(--android-green);
 }