.ruta {
    width: 100px;
    height: 100px;
    margin: auto;
    animation: change 2s infinite;
}
@keyframes change{
    0% {
        background-color: red;
        transform: scale(1);
        opacity: 0;
    }
    50% {
        background-color: darkred;
        transform: scale(2);
        box-shadow: 0 0 20px;
        opacity: 1;
        border-radius: 50%;
    }
    100% {
        background-color: red;
        transform: scale(1);
        opacity: 0;
    }
}
.heart {
    font-size: 100px;
    text-align: center;
    animation: beats 1s infinite;
}
@keyframese beats{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1)
    }


    .smiley-1, .smiley-2, .smiley-3 {
        font-size: 100px;
        text-aligen: center;
        position: absolute; 
        left: 0;
    }

    .smiley-1 {
        animation: falinng 10s infinit;
        animation-delay: 1s;
        left: 100px
    }
}